#outer-wrapper #page-canvas, .items-list {
    background-color: #f9f9f9;
}
#map-container{
	height:580px;
}
#legend {
	font-family: Arial, sans-serif;
	background: rgba(255, 255, 255, 0.56);
	padding: 5px;
	margin: 5px;
}
.legend {
	padding-bottom: 1px;
}
.btn {
	margin-top:5px;
}
.panel {
	background-color: #44a3d3;
	color: white;
}
.panel-heading {
	padding: 5px;
}
#ex1Slider .slider-selection {
	background: #ccc;
}

.items-list {
	padding: 20px 10px 20px 20px;
    overflow: auto;
}
.items-list .inner {
    height: auto;
    width: 100%;
    position: relative;
}
.panel-group {
    margin-bottom: 0px;
}
.list-det {
	background-color: rgba(68, 163, 211, 0.09);
}
.list-det a{
	color: black;
}
.nama {
	font-weight:bold;
    font-size: 16px;
    text-transform: uppercase;
}
/* .star{
	color: #ccc;
	cursor: pointer;
	transition: all 0.2s linear;
} */
.star2, .star{
	color: #ccc;
	cursor: pointer;
	transition: all 0.2s linear;
}
/* .star2{
	color: #ccc;
	cursor: pointer;
	transition: all 0.2s linear;
} */
.star-checked{
	color: gold;
}
