html, body {
    padding: 10px 15px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    font-style: normal;
    background: #333;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    margin-top: -4px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

.icon:hover {
    background: #666;
}

.icon.delete::after {
    content: "X";
}

.item.inactive {
    opacity: .5;
}

.item.inactive .icon {
    display: none;
}

td {
    padding: 5px 0;
}

td + td {
    padding-left: 10px;
}
